@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #141414;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(29, 29, 29);
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  outline: 1px solid #ffffff;
}

::-moz-selection {
  background: #ffffff;
  color: #000000;
}

::-webkit-selection {
  background: #ffffff;
  color: #000000;
}

::selection {
  background: #ffffff;
  color: #000000;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.emoji-wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}