@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter-Regular;
  src: url(../public/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(../public/fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(../public/fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(../public/fonts/Inter-Bold.ttf);
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Inter-Bold;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-thumb {
  border-radius: 55px;
  background-color: #1a1a1a;
  outline: 1px solid #1f1f1f;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

::-webkit-selection {
  background: #000000;
  color: #ffffff;
}

::selection {
  background: #000000;
  color: #ffffff;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.text-gray {
  color: hsla(0, 0%, 100%, 0.7);
}

.Inter-Bold {
  font-family: Inter-Bold;
}

.Inter-Regular {
  font-family: Inter-Regular;
}

.Inter-Medium {
  font-family: Inter-Medium;
}

.ud:hover {
  border-bottom: 2px solid #161616;
  display: inline-block;
  line-height: 0.85;
}
