@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter-Light;
  src: url(../public/fonts/Inter-Light.ttf);
}

@font-face {
  font-family: Inter-Regular;
  src: url(../public/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(../public/fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(../public/fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(../public/fonts/Inter-Bold.ttf);
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Inter-Bold;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

::-webkit-selection {
  background: #000000;
  color: #ffffff;
}

::selection {
  background: #000000;
  color: #ffffff;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.text-gray {
  color: hsla(0, 0%, 100%, 0.7);
}

.Inter-Light {
  font-family: Inter-Light;
}

.Inter-Bold {
  font-family: Inter-Bold;
}

.Inter-Regular {
  font-family: Inter-Regular;
}

.Inter-Medium {
  font-family: Inter-Medium;
}

.ud:hover {
  border-bottom: 2px solid #161616;
  display: inline-block;
  line-height: 0.85;
}

.hide {
  position: absolute;
}

@media only screen and (min-width: 700px) {
  .show:hover + .hide {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .show:hover + .hide {
    display: hidden;
  }
}

.anim {
  --color: #e6adaf;
  --color2: #ea3590;
  position: relative;
  background: linear-gradient(
    120deg,
    var(--color) 0%,
    var(--color2) 50%,
    var(--color) 100%
  );
  background-size: 200% auto;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: unset;
  -webkit-animation: animkey 3s linear infinite forwards;
  animation: animkey 3s linear infinite forwards;
}

@keyframes animkey {
  to {
    background-position: -200%;
  }
}
